lista 2/bubblesort.exe
lista 2/in.in
lista 2/InsertionSort.exe
lista 2/InsertionSortF.exe
lista 2/pesquisaComando.exe
lista 2/selectionsort.exe
lista 3/buscaBin.exe
lista 3/buscaSeq.exe
lista 3/intercala8.exe
lista 3/mergeSort.exe
lista 3/mergeSort2.exe
lista 3/nmur.exe
lista 3/in.in
lista 3/numProibido.exe
lista 4/degustacao.exe
lista 4/in.in
lista 4/qsort.exe
lista 4/jaspion.exe
lista 4/eleicao.exe
lista 4/kk-pagina.exe
lista 4/sementes.exe
lista 7/menoresplacas.exe
lista 5/notas.exe
lista 5/in.in
lista 5/Hash.exe
lista 5/frequencia.exe
lista 5/desfile.exe
